<footer>
    <div class="contacto">
        <p class="info">
            <span class="icon-map-marker"></span> Medrano 951 - 2do piso - Oficina 206
            <br>
            <span class="icon-whatsapp"></span> WhatsApp: 011-5156-8325
            <br>
            <span class="icon-at"></span> formacionprofesional@gmail.com
        </p>
    </div>
    <div class="encontranos">
        <h6>ENCONTRANOS EN</h4>
            <hr>
            <a href="https://instagram.com/formacionprofesional.utn?utm_medium=copy_link" class="icono"><span class="icon-instagram"></span></a>
            <a href="index8.html" class="icono"> <span class="icon-facebook-square"></span></a>

    </div>
</footer>