<header class="inicio">
    <img src="./img/cropped-logoUTN.png" alt="logo utn">

    <div class="hamburguesa">
        <label for="hamb"><span class="icon-server"></span></label>

    </div>
    <input type="checkbox" name="hamb" id="hamb" class="input">
    <nav>


        <ul class="menu0">
            <li class="menu">
                <a href="/" class="menu1">Inicio</a></li>
            <li class="menu"> <a href="/cursos" class="menu1">Cursos</a></li>
            <li class="menu"> <a href="#" class="menu1">Certificaciones</a></li>
            <li class="menu"> <a href="http://campus.sceu.frba.utn.edu.ar/" class="menu1">Campus virtual</a></li>
            <li class="menu">
                <a href="#" class="menu1">Preguntas frecuentes</a></li>
            <li class="menu">
                <a href="/contacto" class="menu1">Contacto</a></li>
        </ul>

    </nav>




</header>