<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("../parcials/head.ejs")%>
        <title>Formación profesional</title>
</head>


<body class="principal">

    <%-include("../parcials/nav.ejs")%>
        <section>
            <div class="banner">
                <div class="glass">
                    <div class="titulos">
                        <h1 class="titulo1">Formación Profesional</h1>
                        <h2 class="titulo2">Cursos de certificación técnica y de oficios</h2>
                    </div>
                </div>
            </div>
        </section>

        <%-include("../parcials/footer.ejs")%>
            <%-include("../parcials/scrips.ejs")%>
</body>

</html>